.header {
  background: #101f23c7;
  margin: auto;
  margin-top: 150px;
  width: 357px;
  height: 145px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 9px 12px #000000;
  color: #5bc8e4;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #13a9cf;
  padding: 0px;
}
input {
  background-color: #5bc8e4;
  width: 225px;
  height: 39px;
  border-radius: 16px;
  margin-top: -6px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
input::placeholder {
  color: #103d48;
}
button {
  width: 45px;
  height: 45px;
  margin: 8px;
  border-radius: 22px;
  color: #103d48;
  background-color: #5bc8e4;
  text-decoration: none;
  direction: none;
  float: right;
  align-items: center;
}
ul {
  padding: 0px;
}
ul li {
  
  width: 397px;
  margin-left: 546px;
  margin-top: 25px;
  height: 44px;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  background: #101f23c7;
  list-style: none;
  border-radius: 50px;
  box-shadow: 0px 12px 35px #000000;
  color: #5bc8e4;
  font-family: Arial, Helvetica, sans-serif;
}
ul li i {

  float: right;
  float: top;
  padding-right: 20px;
  cursor: pointer;
}
ul li i:hover {
  color: rgb(116, 7, 7);
  transform: scale(1.3);

}

input[type="checkbox"] {
  accent-color: #5bc8e4;
  width: 20px;
  margin-left: -5px;
  float: left;
  padding: 0px;
  width: 20px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
  transform: scale(1.3);
  
}


